<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <!-- Name Field -->
  <label
    [ngClass]="{
      'error_border': errors['name']?.length > 0,
      'success_border': errors['name']?.length === 0 && nameField.valid && nameField.dirty
    }"
    class="input input-bordered flex items-center gap-2 mb-2"
  >
    Name
    <input
      name="name"
      [(ngModel)]="user.name"
      class="grow"
      placeholder="name..."
      required
      minlength="3"
      #nameField="ngModel"
      (ngModelChange)="validateForm('name')"
    />
  </label>
  <div *ngIf="errors['name'].length > 0" class="error-list">
    <div *ngFor="let error of errors['name']" class="alert alert-error mb-2">
      <span>{{ error }}</span>
    </div>
  </div>

  <!-- Email Field -->
  <label
    [ngClass]="{
      'error_border': errors['email']?.length > 0,
      'success_border': errors['email']?.length === 0 && emailField.valid && emailField.dirty
    }"
    class="input input-bordered flex items-center gap-2 mb-2"
  >
    Email
    <input
      name="email"
      [(ngModel)]="user.email"
      class="grow"
      placeholder="gmail@site.com"
      required
      email
      #emailField="ngModel"
      (ngModelChange)="validateForm('email')"
    />
  </label>
  <div *ngIf="errors['email'].length > 0" class="error-list">
    <div *ngFor="let error of errors['email']" class="alert alert-error mb-2">
      <span>{{ error }}</span>
    </div>
  </div>

  <!-- Submit Button -->
  <div class="mt-5">
    <button
      *ngIf="isUpdate"
      class="btn btn-outline btn-primary"
      [disabled]="form.invalid || hasErrors()"
    >
      Update
    </button>
    <button
      *ngIf="!isUpdate"
      class="btn btn-outline btn-primary"
      [disabled]="form.invalid || hasErrors()"
    >
      Submit
    </button>
  </div>
</form>
